<html>

<head>
    <title>Snake game</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div class="container">
        <center><b>Snake game</b></center>
        <table>
            <thead id="THead" style="display:none;" class="game-over">
                <tr>
                    <th colspan="15">Game over</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="../js/main.js"></script>
</body>

</html>